.main_conatiner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}
.main_container_part label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.main_container_part input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.main_conatiner_btn {
  text-align: right;
}
.main_conatiner_btn button{
   
        font: inherit;
        cursor: pointer;
        padding: 1rem 2rem;
        border: 1px solid #40005d;
        background-color: #40005d;
        color: white;
        border-radius: 12px;
        margin-right: 1rem;
      }
      
      .main_conatiner_btn  button:hover,
      .main_conatiner_btn button:active {
        background-color: #510674;
        border-color: #510674;
      }
      
      .main_conatiner_btn button.alternative {
        color: #220131;
        border-color: transparent;
        background-color: transparent;
      }
      
      .main_conatiner_btn button.alternative:hover,
      .main_conatiner_btn button.alternative:active {
        background-color: #ddb3f8;
      }
      

